{{!include(/^assets/.*/)}}

<!doctype html>

<html>

{{>partials/head}}

<body data-smooth-scroll-offset="120">

	<div class="loader">
		<div class="loading-animation"></div>
	</div>

	{{^_disableNavbar}}
	{{>partials/navbar}}
	{{/_disableNavbar}}

	<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
		<img class="icon" src="{{_rel}}assets/img/icons/interface/menu.svg" alt="menu interface icon" data-inject-svg />
		<span>Index</span>
	</button>

	<section class="container-fluid py-0">
		<div class="row">
			<div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
				{{>partials/toc}}
			</div>
			<div class="col-md-9 col-lg-10">
				<div class="row">
					<article id="content-body" class="content-body col-lg-8 col-xl-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
						{{!body}}
					</article>
					<aside class="col-lg-4 col-xl-3 py-3 py-md-5 docs-sidebar">
						{{^_disableContribution}}
						<a class="btn btn-outline-primary w-100" href="{{_repoUrl}}/edit/{{source.remote.branch}}/{{source.remote.path}}">
							<img class="icon bg-primary" src="{{_rel}}assets/img/icons/custom/github.svg" alt="GitHub icon" data-inject-svg />
							Improve this page
						</a>
						{{/_disableContribution}}
						<div class="d-none d-lg-block my-lg-3 bg-primary-3-alt rounded p-3">
							<h6 class="text-uppercase text-small">On this page</h6>
							<div id="index-container">
								<!-- Page index will be injected here by tocbot script -->
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>

	{{>partials/scripts}}

	<script>
		tocbot.init({
			// Where to render the table of contents.
			tocSelector: '#index-container',
			// Where to grab the headings to build the table of contents.
			contentSelector: '#content-body',
			// Which headings to grab inside of the contentSelector element.
			headingSelector: 'h2, h3, h4',
			// For headings inside relative or absolute positioned containers within content.
			hasInnerContainers: false,
			linkClass: "nav-link",
			extraLinkClasses: "text-small",
			activeLinkClass: "active",
			listClass: "nav flex-column",
			listItemClass: "nav-item",
			activeListItemClass: "active"
		});
	</script>

</body>

</html>