{{!include(/^assets/.*/)}}

<!doctype html>

<html>
  {{>partials/head}}
  <body data-smooth-scroll-offset="73">
    {{^_disableNavbar}}
    {{>partials/navbar}}
    {{/_disableNavbar}}

    <section class="py-0">
      <div class="container">
        <div class="row min-vh-70 mb-3">
          <div class="col-3">
            <div class="py-3 px-3 bg-primary-alt rounded h-100">
              {{>partials/toc}}
            </div>
          </div>
          <div class="col-6">
            <div class="py-0 h-100">           
              {{!body}}
            </div>
          </div>
          <div class="col-3">
            <div class="py-3 px-3 bg-primary-alt rounded h-100">
              
              {{^_disableContribution}}
                <nav class="nav flex-column">
                  {{#docurl}}
                  <li>
                    <a href="{{docurl}}" class="contribution-link nav-link">{{__global.improveThisDoc}}</a>
                  </li>
                  {{/docurl}}
                  {{#sourceurl}}
                  <li>
                    <a href="{{sourceurl}}" class="contribution-link nav-link">{{__global.viewSource}}</a>
                  </li>
                  {{/sourceurl}}
                </nav>
              {{/_disableContribution}}
                <ul>
                  {{#stackBased}}
                    <li>This is a <b>stack-based command</b>.</li>
                  {{/stackBased}}
                  {{#orgBased}}
                    <li>This is an <b>org-based command</b>.</li>
                  {{/orgBased}}
                  
                  {{#starterEdition}}
                    <li>Starter edition: &#9989;</li>
                  {{/starterEdition}}
                  {{^starterEdition}}
                    <li>Starter edition: &#10134;</li>
                  {{/starterEdition}}
                  
                  {{#proEdition}}
                    <li>Pro edition: &#9989;</li>
                  {{/proEdition}}
                  {{^proEdition}}
                    <li>Pro edition: &#10134;</li>
                  {{/proEdition}}
                  
                  {{#enterpriseEdition}}
                    <li>Enterprise edition: &#9989;</li>
                  {{/enterpriseEdition}}
                  {{^enterpriseEdition}}
                    <li>Enterprise edition: &#10134;</li>
                  {{/enterpriseEdition}}
                </ul>
              
              <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="affix">
                <h5>{{__global.inThisArticle}}</h5>
                <div></div>
              </nav>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="{{_rel}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{_rel}}js/popper.min.js"></script>
    <script type="text/javascript" src="{{_rel}}js/bootstrap.js"></script>

    <script type="text/javascript" src="{{_rel}}styles/docfx.vendor.js"></script>
    <script type="text/javascript" src="{{_rel}}styles/docfx.js"></script>
    <script type="text/javascript" src="{{_rel}}styles/main.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="{{_rel}}js/aos.js"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="{{_rel}}js/clipboard.js"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="{{_rel}}js/jquery.fancybox.min.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="{{_rel}}js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="{{_rel}}js/flickity.pkgd.min.js"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="{{_rel}}js/ion.rangeSlider.min.js"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="{{_rel}}js/isotope.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="{{_rel}}js/jarallax.min.js"></script>
    <script type="text/javascript" src="{{_rel}}js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="{{_rel}}js/jarallax-element.min.js"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="{{_rel}}js/jquery.countdown.min.js"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="{{_rel}}js/jquery.smartWizard.min.js"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="{{_rel}}js/plyr.polyfilled.min.js"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="{{_rel}}js/prism.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="{{_rel}}js/scrollMonitor.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="{{_rel}}js/smooth-scroll.polyfills.min.js"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="{{_rel}}js/svg-injector.umd.production.js"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="{{_rel}}js/twitterFetcher_min.js"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="{{_rel}}js/typed.min.js"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="{{_rel}}js/theme.js"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
      window.addEventListener("load", function () {    document.querySelector('body').classList.add('loaded');  });
    </script>
  </body>
</html>
